{% extends 'base.html.twig' %}

{% block body %}
<h1>hello world</h1>

    {{ form_start(mapPlaceForm) }}
        {{ form_widget(mapPlaceForm) }}

        <button type="submit" class="btn btn-sm">Submit</button>
    {{ form_end(mapPlaceForm) }}

{% endblock %}